.back-container {
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    transition: all 0.3s ease;
    max-width: 160px;
}

    .back-container:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }

.back-link {
    color: #b8f5ff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
}

.brand-link {
    font-size: 150%;
    color: #b8f5ff;
}

.equinox {
    font-size: 300%;
    color: #b8f5ff;
}

.credits {
    margin: 3rem auto;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    padding: 1rem;
}

    .credits a {
        color: #b8f5ff;
    }

.short-line {
    max-width: 400px;
    height: 2px;
}