@page "/about"
@using EquinoxWeather.Layout

<PageTitle>Equinox · About</PageTitle>

<style>

	.content {
		background-image: url('weather_backgrounds/clear_night.webp');
		background-size: cover;
		background-position: center;
		min-height: 100vh;
		color: white;
		padding-bottom: 10px;
	}

</style>

<div class="justify-content-left">
	<div class="back-container px-3 py-1">
		<a class="back-link" href="/">
			<i class="fas fa-chevron-left"></i>
			Back to Home
		</a>
	</div>
</div>


<svg width="192px" height="192px" class="logo">
	<image xlink:href="logo.svg" width="192px" height="192px" />

</svg>

<div style="text-align: center; max-width: 75%; margin: auto;">
	<h1 class="equinox">Equinox Weather</h1>
	<h3>by MultiverShaun</h3>
	<ul class="justify-content-center list-unstyled d-flex">
		<li class="ms-3">
			<a class="brand-link" href="https://github.com/MultiverShaun/EquinoxWeather">
				<i class="fa-brands fa-github"></i>
			</a>
		</li>
		<li class="ms-3">
			<a class="brand-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
				<i class="fa-brands fa-youtube"></i>
			</a>
		</li>
	</ul>
</div>

<div class="credits">
	<h1>Credits and Attribution</h1>
	<hr />
	<h5>Weather Icons and Equinox Logo:</h5>
	<a href="https://www.figma.com/community/file/1283826005232351466">Frosted Glass Weather Icons | Glass Morphism</a> by <a href="https://www.figma.com/@@ilyas_mrayan">Ilyas Mrayan</a>
	<br />
	Licensed under <a href="https://creativecommons.org/licenses/by/4.0/"></a>CC BY 4.0
	<hr class="short-line"/>
	<h5>Other Icons:</h5>
	Font Awesome by Dave Gandy - <a href="https://fontawesome.io">https://fontawesome.io</a>
	<hr class="short-line" />
	<h5>Background Images:</h5>
	Sourced from multiple authors on <a href="https://unsplash.com">Unsplash</a>
	<hr class="short-line" />
	Weather data provided by <a href="https://open-meteo.com/">Open-Meteo</a>
	<br />
	Built on the <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor framework</a> using C#
	<br /><br />
	Made possible by ☀️🏀 :)
</div>

<span>© 2024 MultiverShaun</span>

@*
	Credits Page

	Frosted Glass Weather Icons: https://www.figma.com/community/file/1283826005232351466

	Background Images from Unsplash
	- Add accordion with list of all images

	Data provided by OpenMeteo

*@