@page "/"
@using EquinoxWeather.Layout
<PageTitle>Equinox</PageTitle>

<svg width="192px" height="192px" class="logo">
	<image xlink:href="logo.svg" width="192px" height="192px" />
</svg>

<h1 class="start-header">Equinox Weather</h1>
<br />
<p class="start-description">Use the <i class="fas fa-location-arrow"></i> icon or search to get started.</p>