.start-header {
    max-width: 85%;
    margin: auto;
    text-align: center;
    color: #adf3fd;
    font-size: 300%;
}

.start-description {
    max-width: 85%;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 150%;
}
