.hour-forecast-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.hourly-forecast-card {
    width: 5rem; /* Set card width */
    height: 155px; /* Set card height */
    margin-right: 0.5rem; /* Adjust margin between cards */

    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

    .hourly-forecast-card:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

.precip-chance {
    color: #b8f5ff;
}

.hour-modal {
    border-radius: 1.5rem;
    border: 2px solid rgb(255, 255, 255, 0.2);
    text-align: center;
}

.modal-dialog {
    position: fixed;
    margin: 0.5rem;
    top: 50%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, -53%) !important;
}

@media (max-width: 512px) {
    .modal-dialog {
        min-width: 90%;
    }
}
