<h2 style="text-align: center;"><i class="fas fa-calendar-day fa-sm"></i> 24-Hour Forecast</h2>

<div class="hour-forecast-list">

    @for (int index = CurrentHour; index <= CurrentHour + 23; index++){
        <HourlyForecast CurrentHour="@(index)" Weather="@Weather" />
    }
</div>
<div style="text-align: center; padding-top: 5px;"><i class="fas fa-info-circle"></i> Click on a time for more info.</div>

@code {
    [Parameter]
    public OpenMeteoResponse? Weather { get; set; }
    [Parameter]
    public int CurrentHour { get; set; }

}