.advanced-info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
    gap: 0.5rem;
}

.advanced-info-tile {
    background-color: rgb(192, 192, 192, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    transition: all 0.3s ease;
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
}

.advanced-info-tile:hover {
    background-color: rgba(192, 192, 192, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sun-progress-bar {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
