.aqi-main {
    max-width: 500px;
}

.aqi {
    font-size: 500%;
}

.pollutant {
    color: lightgray;
}

.more-info {
    text-align: center;
    width: 50%;
    margin: auto;
    background-color: rgb(192, 192, 192, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #b8f5ff;
}

    .more-info:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.4);
    }