.hourly-forecast-card {
    width: calc(3% + 75px); /* Set card width */
    height: 155px; /* Set card height */
    margin-right: 10px; /* Adjust margin between cards */

    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;

    display: inline-block;

    text-align: center;
}

    .hourly-forecast-card:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }

