.hour-forecast-box{
    margin-top: 1rem;
}

.hour-forecast-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.hour {
    font-weight: 500;
}
.precip-chance {
    color: #adf3fd;
}
.hourly-forecast-card {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center;
    margin-right: 0.5rem; /* Adjust margin between cards */
    background-color: rgb(192, 192, 192, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    text-align: center;
    cursor: pointer;
}

    .hourly-forecast-card:hover {
        background-color: rgba(192, 192, 192, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

.hour-modal {
    border-radius: 1.5rem;
    border: 2px solid rgb(255, 255, 255, 0.2);
    text-align: center;
}

.modal-stats {
    color: #b8f5ff;
}