nav {
    border-radius: 1.5rem;
    margin: calc(0.5% + 5px) auto 0;
    padding: 0.75% 0 0.75% calc(0.5% + 10px);
    max-width: 600px;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(0, 0, 0, 0.5);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease;
}

    nav:hover {
        background-color: rgb(0, 0, 0, 0.75);
        border: 1.5px solid rgba(255, 255, 255, 0.5);
    }

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar .form-inline {
    flex-grow: 1;
    position: relative;
}

.navbar .form-control {
    margin-left: auto;
    margin-right: auto;
    display: block; /* if the element is inline */
    text-align: center;
    border-radius: 1rem;
    border: 0px;
    background-color: #F1FAFF;
}
/*
    .navbar .form-control.suggestions-active {
        border-radius: 1rem 1rem 0 0;
    }*/

.navbar .units-label {
    margin-left: 10%;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
    margin-left: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.suggestions-list {
    position: absolute;
    z-index: 1000; /* Make sure it's above other elements */
    border-radius: 1rem;
    width: 100%; /* Adjust width to match the input */
    max-height: 300px; /* Optional: max height for scroll */
    overflow-y: auto; /* Optional: enable scroll if content overflows */
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 10px 0 0 0;
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1.5rem);
    color: white;
}

    .suggestions-list li {
        padding: 10px; /* Adjust padding as needed */
        cursor: pointer;
        display: flex;
        transition: all 0.3s ease;
        justify-content: space-between;
        border: 1px solid rgb(255, 255, 255, 0.2);
    }

        .suggestions-list li:hover {
            background-color: rgba(255, 255, 255, 0.15);
        }

.suggestion-area {
    color: #b8f5ff;
}

/* Media */
@media (min-width: 1200px) {
    nav {
        max-width: calc(400px + 17.5%);
    }
}

@media (max-width: 615px) {
    nav {
        max-width: calc(99% - 10px);
    }
}
@media (max-width: 512px) {
    .suggestions-list {
        margin: calc(0.5% + 15px) 0 0 0;
        width: calc(90vw + 10px);
        max-width: 100%;
        position: fixed;
        left: calc(5% - 5px);
    }
}

.settings-modal {
    border-radius: 1.5rem;
    border: 2px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5rem);
    color: white;
}