#detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 0.5rem;
    margin: auto;
}

@media (max-width: 362px) {
    #detail-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
}

.aqi-box {
    margin: 0.5rem auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;  
}