#detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    margin: auto;
}

@media (max-width: 362px) {
    #detail-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
}

.aqi-box {
    margin: 1rem auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;  
}

    .aqi-box:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }