#detail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
    margin: auto;
}

@media (max-width: 362px) {
    #detail-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
}

.detail-grid-tile {
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.2);
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
    transition: all 0.3s ease;
}

.detail-grid-tile:hover {
/*    background-color: rgba(255, 255, 255, 0.15);*/
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.hour-forecast-box {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.aqi-box {
    margin: 1rem auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;  
}

    .aqi-box:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }